@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .item-header{
    @apply text-[#006b6b] font-semibold text-xl my-1
  }

  .item-link {
      @apply text-[#006b6b] font-[500] text-lg hover:underline hover:cursor-pointer
  }

  .item-content {
    @apply my-1 ml-8
  }

  .description {
    @apply my-1 mx-8 italic font-light
  }

  .btn-click{
    @apply bg-black text-white p-2 w-full border-[#000] text-base rounded-sm 
  }
  
  .btn-norm{
    @apply bg-[#008080] text-white p-2 w-full border-[#008080] text-base rounded-sm 
  }
}

html{
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

*{
  padding: 0;
  margin: 0;
}

.shadow{
  box-shadow: 0 1px 5px 0px #444;
  border-radius: .125rem;
  overflow: hidden;

}

body{
  display: flex;
  flex-direction: column;
}

.hero--bg{
  background-image: url(/img-1-pill.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.hero--bg--sm{
  background-color: red;
  color: red;
}